<nav>
  <ul>
    <li><a href="/edit-account" title="edit account details">edit account</a></li>
    <li><a href="/delete-account" title="just delete the account and all its content">nuke account</a></li>
    <li><a href="/purge-account" title="purge account, delete the all history links">purge account</a></li>
    <li><a href="/logff" title="get me out of here">log off</a></li>
  </ul>
</nav>
